body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

button{
    font-size: 32px;
    width: 100px;
    height: 80px;
}


.display{
    font-size: 32px;
    justify-content: right;
    align-items: center;
    height: 70px;
}

div{
    border-style: solid;
    display: flex;
    justify-content: space-between;
}


.container{
    display: flex;
    flex-direction: column;
}